:root {
  --primary-color: #4E5150;
  --orange: #F2994A;
  --gray: #A9A9A9;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: black;
  padding: 1em;
  margin: 0 auto;
}

.product-box {

}

.information-box {
  background-color: white;
  padding: 2em;
  border-radius: 12px;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid black;
  padding: 0.7em;
  width: 60%;
  transition: width 0.4s ease-in-out;
  background-position: 5px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

input:focus {
  border: 1px solid black;
  width: 80%;
}

input[id=email] {
  background-image: url('images/email.svg');
}

input[id=phone] {
  background-image: url('images/phone.svg');
}

input[id=name] {
  background-image: url('images/name.svg');
}

input[id=address] {
  background-image: url('images/address.svg');
}

label {
  color: var(--orange);
  margin: 0.5em 0 1em 0;
  display: block;
}

footer {
  text-align: center;
  margin-top: 4em;
}
